{% if mikrotik_interfaces_addresses_ipv4['delete_all_addresses'] == true %}
# Delete all not-dynamic addresses
/ip address remove [/ip address find where !(dynamic=yes)]
{% endif %}


{% if mikrotik_interfaces_addresses_ipv4['static_addresses'][0] is defined %}
# Delete not defined addresses
/ip address remove [/ip address find where !(dynamic=yes) and !( \
{% for address in mikrotik_interfaces_addresses_ipv4['static_addresses'] %}
{% if not loop.first %} or {% endif %} (address="{{ address['address'] }}" and interface="{{ address['interface'] }}") \
{% endfor %}
)]

# Create new static_addresses
{% for address in mikrotik_interfaces_addresses_ipv4['static_addresses'] %}
:if ([/ip address find where !(dynamic=yes) and (address="{{ address['address'] }}" and interface="{{ address['interface'] }}")] = "" ) do={
# Add address {{ address['address'] }} to interface {{ address['interface'] }}
/ip address add address="{{ address['address'] }}" interface="{{ address['interface'] }}"
}

# Set parameters
/ip address set [/ip address find where !(dynamic=yes) and (address="{{ address['address'] }}" and interface="{{ address['interface'] }}")] \
  comment="Ansible managed: [{{ address['comment'] }}]" \
  disabled="{{ address['disabled'] | bool | ternary('yes', 'no') }}" \
  address="{{ address['address'] }}" \
  interface="{{ address['interface'] }}"
{% endfor %}

{% endif %}
