{% if mikrotik_interfaces_addresses_ipv4['delete_all_dhcp_clients'] == true %}
# Delete ALL DHCP clients
/ip dhcp-client remove [/ip dhcp-client find]

{% endif %}

{% if mikrotik_interfaces_addresses_ipv4['dhcp_clients'][0] is defined %}

# Delete not defined DHCP clients
/ip dhcp-client remove [/ip dhcp-client find where !( \
{% for client in mikrotik_interfaces_addresses_ipv4['dhcp_clients'] %}
{% if not loop.first %} or {% endif %} (interface="{{ client['interface'] }}") \
{% endfor %}
)]

# Create Required DHCP clients
{% for client in mikrotik_interfaces_addresses_ipv4['dhcp_clients'] %}
:if ([/ip dhcp-client find interface="{{ client['interface'] }}"] = "") do={
# Creating DHCP client on interface {{ client['interface'] }}
/ip dhcp-client add interface="{{ client['interface'] }}"
}

# Set parameters for DHCP client
/ip dhcp-client set [/ip dhcp-client find interface="{{ client['interface'] }}"] \
  interface="{{ client['interface'] }}" \
  comment="Ansible managed: [{{ client['comment'] }}]" \
  disabled="{{ client['disabled'] | bool | ternary('yes', 'no') }}" \
  add-default-route="{{ client['add-default-route'] | default(true) | bool | ternary('yes', 'no') }}" \
  dhcp-options="{{ client['dhcp-options'] | default('') }}" \
  script="{{ client['script'] | default('') }}" \
  use-peer-ntp="{{ client['use-peer-ntp'] | default(true) | bool | ternary('yes', 'no') }}" \
  default-route-distance="{{ client['default-route-distance'] | default(1) }}" \
  use-peer-dns="{{ client['use-peer-dns'] | default(true) | bool | ternary('yes', 'no') }}"
{% endfor %}

{% endif %}
